#s-0a1aab04-b14f-436a-992f-224751e0d8e0 > #backgroundBox {
  position: absolute;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Dynamic_Panel_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_9 {
  width: 319.0000000000001px;
  height: 62.79596451993859px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_9 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_9 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_9 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_9 .verticalalign {
  vertical-align: top;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_9 {
  position: absolute;
  width: 31.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_9 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_8 {
  position: absolute;
  width: 31.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_8 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_7 {
  position: absolute;
  width: 31.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_7 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_6 {
  position: absolute;
  width: 31.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_6 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_2 {
  width: 375.0000000000002px;
  height: 41.999999999999986px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_2 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_2 .verticalalign {
  vertical-align: top;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_1 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_1 {
  position: absolute;
  width: 19.0px;
  height: 18.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_1 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_2 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_2 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_4 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_3 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Dynamic_Panel_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_5 {
  width: 375.00000000000034px;
  height: 521.3303594690424px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_5 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_5 > .borderLayer {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_5 .verticalalign {
  vertical-align: top;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Dynamic_Panel_15 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_15 {
  width: 323.0px;
  height: 117.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_15 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_15 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_15 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_15 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_15 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_15 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_15 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_15 .verticalalign {
  vertical-align: top;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_33 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_33 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_33 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_33 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_33 span#rtr-s-Paragraph_33_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_34 {
  position: absolute;
  width: 206.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_34 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_34 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_34 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_35 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_35 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_35 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_35 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_35 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_35 span#rtr-s-Paragraph_35_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_10 {
  position: absolute;
  width: 36.00000000000006px;
  min-height: 22.695652173913118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_10 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_10 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_10 > .backgroundLayer > .colorLayer {
  background-color: #851DE6;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_10 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_10 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_10 span#rtr-s-Button_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_11 {
  position: absolute;
  width: 36.00000000000006px;
  min-height: 22.695652173913118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_11 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_11 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_11 > .backgroundLayer > .colorLayer {
  background-color: #851DE6;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_11 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_11 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_11 span#rtr-s-Button_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_36 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_36 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_36 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_36 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_36 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_36 span#rtr-s-Paragraph_36_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_44 {
  position: absolute;
  width: 55.000000000000114px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_44 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Dynamic_Panel_16 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_16 {
  width: 323.0px;
  height: 117.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_16 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_16 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_16 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_16 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_16 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_16 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_16 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Panel_16 .verticalalign {
  vertical-align: top;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_37 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_37 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_37 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_37 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_37 span#rtr-s-Paragraph_37_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_38 {
  position: absolute;
  width: 206.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_38 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_38 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_38 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_38 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_38 span#rtr-s-Paragraph_38_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_39 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_39 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_39 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_39 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_39 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_39 span#rtr-s-Paragraph_39_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_12 {
  position: absolute;
  width: 36.00000000000006px;
  min-height: 22.695652173913118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_12 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_12 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_12 > .backgroundLayer > .colorLayer {
  background-color: #851DE6;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_12 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_12 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_13 {
  position: absolute;
  width: 36.00000000000006px;
  min-height: 22.695652173913118px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_13 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_13 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_13 > .backgroundLayer > .colorLayer {
  background-color: #851DE6;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_13 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_13 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_13 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_13 span#rtr-s-Button_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_40 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_40 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_40 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_40 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_40 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Paragraph_40 span#rtr-s-Paragraph_40_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_45 {
  position: absolute;
  width: 55.000000000000114px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Image_45 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_1 {
  position: absolute;
  width: 188.4999999999999px;
  min-height: 60.42819527046487px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_1 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_1 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_2 {
  position: absolute;
  width: 188.4999999999999px;
  min-height: 60.42819527046487px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_2 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1BD665;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_2 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_3 {
  position: absolute;
  width: 130.0px;
  min-height: 38.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_3 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_3 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #1BD665;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_3 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_3 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Ellipse_1 {
  width: 71.0px;
  height: 71.0px;
  min-height: 71.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 6px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Ellipse_1 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_16 {
  position: absolute;
  width: 129.9999999999999px;
  min-height: 38.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_16 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_16 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_16 > .backgroundLayer > .colorLayer {
  background-color: #1BD665;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_16 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_16 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_16 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_16 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_16 span#rtr-s-Button_16_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_17 {
  position: absolute;
  width: 52.00000000000023px;
  min-height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_17 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_17 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_17 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_17 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_17 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_17 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_17 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_17 span#rtr-s-Button_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_18 {
  position: absolute;
  width: 77.0px;
  min-height: 31.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_18 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_18 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_18 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_18 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_18 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_18 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_18 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_18 span#rtr-s-Button_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_19 {
  position: absolute;
  width: 101.0px;
  min-height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_19 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_19 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_19 > .backgroundLayer > .colorLayer {
  background-color: #1BD665;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_19 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_19 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_19 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_19 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_19 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_19 span#rtr-s-Button_19_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_20 {
  position: absolute;
  width: 107.99999999999989px;
  min-height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_20 {
  box-shadow: none;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_20 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_20 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_20 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_20 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_20 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_20 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_20 span {
  color: #E84834;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 #s-Button_20 span#rtr-s-Button_20_0 {
  color: #E84834;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-0a1aab04-b14f-436a-992f-224751e0d8e0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
