#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b > #backgroundBox {
  position: absolute;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Dynamic_Panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_3 {
  width: 374.9999999999998px;
  height: 44.33030499675567px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_3 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_3 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_3 .verticalalign {
  vertical-align: top;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_4 {
  position: absolute;
  width: 30.0px;
  height: 24.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_4 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_5 {
  position: absolute;
  width: 21.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_5 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_10 {
  position: absolute;
  width: 30.0px;
  height: 24.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_10 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_11 {
  position: absolute;
  width: 20.999999999999886px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_11 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_12 {
  position: absolute;
  width: 25.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_12 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_2 {
  width: 375.0000000000002px;
  height: 41.999999999999986px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_2 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_2 .verticalalign {
  vertical-align: top;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_1 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_1 {
  position: absolute;
  width: 19.0px;
  height: 18.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_1 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_2 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_2 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_4 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_3 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_1 {
  width: 375.0000000000003px;
  height: 57.63933953421312px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_1 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #E84834;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_1 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_2 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_3 {
  position: absolute;
  width: 40.00000000000017px;
  height: 40.000000000000014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_3 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Dynamic_Panel_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_4 {
  width: 375.00000000000034px;
  height: 94.00000000000003px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_4 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_4 .verticalalign {
  vertical-align: top;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_13 {
  position: absolute;
  width: 70.0px;
  height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_13 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_1 {
  position: absolute;
  width: 33.999999999999886px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_1 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_1 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #851DE6;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_1 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_5 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Category_2 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Category_2 {
  position: absolute;
  width: 80.00000000000011px;
  height: 25.00000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  vertical-align: middle;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Category_2 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Category_2 > .backgroundLayer {
  border-radius: 0px 5px 5px 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Category_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Category_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 0px 5px 5px 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Category_2 > .backgroundLayer {
  border-radius: 0px 5px 5px 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Category_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Dynamic_Panel_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_9 {
  width: 319.0000000000001px;
  height: 62.79596451993859px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_9 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_9 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_9 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Panel_9 .verticalalign {
  vertical-align: top;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_9 {
  position: absolute;
  width: 31.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_9 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_8 {
  position: absolute;
  width: 31.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_8 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_7 {
  position: absolute;
  width: 31.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_7 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_6 {
  position: absolute;
  width: 31.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Image_6 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Text-area textarea::-webkit-input-placeholder {
  color: #000000;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Text-area textarea::-moz-placeholder {
  color: #000000;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Text-area textarea:-moz-placeholder {
  color: #000000;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Text-area textarea:-ms-input-placeholder {
  color: #000000;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Text-area {
  position: absolute;
  width: 100.0%;
  height: 478.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Text-area {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Text-area textarea {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Text-area > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Text-area .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_2 {
  position: absolute;
  width: 107.17241379310346px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_2 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_2 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #851DE6;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_2 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_2 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Ellipse_1 {
  width: 71.0px;
  height: 71.0px;
  min-height: 71.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 6px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #s-Ellipse_1 {
  box-shadow: none;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-70976b24-3dd8-497b-b9f1-8c8ab97cdf0b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
