#s-78827450-0a26-455a-8db3-0d24ae7e2a69 > #backgroundBox {
  position: absolute;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Panel_1 {
  width: 374.9999999999999px;
  height: 812.0260213766461px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Panel_1 {
  box-shadow: none;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_1 {
  position: absolute;
  width: 331.30000000000007px;
  min-height: 91.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_1 {
  box-shadow: none;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_1 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #E84834;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_1 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_1 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_2 {
  position: absolute;
  width: 331.30000000000007px;
  min-height: 91.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_2 {
  box-shadow: none;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_2 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #F0A03D;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_2 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_2 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_3 {
  position: absolute;
  width: 331.30000000000007px;
  min-height: 91.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_3 {
  box-shadow: none;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_3 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #1BD665;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_3 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_3 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_4 {
  position: absolute;
  width: 331.30000000000007px;
  min-height: 91.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_4 {
  box-shadow: none;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_4 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #851DE6;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_4 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_4 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_2 {
  box-shadow: none;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_2 span {
  color: #851DE6;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #851DE6;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_1 {
  box-shadow: none;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_3 {
  box-shadow: none;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_3 span {
  color: #851DE6;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #851DE6;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_4 {
  box-shadow: none;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Text_2 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Text_2 {
  box-shadow: none;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Text_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Image_17 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Image_17 {
  box-shadow: none;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Image_18 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Image_18 {
  box-shadow: none;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Image_19 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-78827450-0a26-455a-8db3-0d24ae7e2a69 #s-Image_19 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-78827450-0a26-455a-8db3-0d24ae7e2a69 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
